Flask==1.0.2
h5py==2.10.0
Keras==2.2.4
numpy==1.19.5
pandas==1.1.5
PyYAML==5.4.1
requests==2.25.1
scipy==1.5.4
tensorboardX==2.1
tensorflow==1.13.1
torch==1.7.1
python-socketio==1.8.4
eventlet==0.30.1
